{% import "macros/helpers.html.twig" as helpers %}
<table>
    <thead>
        <tr>
            <th>Contract ID & Type</th>
            <th>Faction</th>
            <th>Deadline</th>
            <th>Payment Terms</th>
            <th>Item to Deliver</th>
            <th>Destination</th>
            <th>Units</th>
            <th>Accepted?</th>
            <th>Fulfilled?</th>
            <th>Expiration</th>
            <th>Deadline to Accept</th>
        </tr>
    </thead>
    <tbody>
        {% for contract in contracts %}
        <tr>
            <td>
                <small>
                    <a href="/contracts/get/?id={{ contract.id }}"
                       up-target=".contract-card"
                    >{{ contract.id }}</a>
                </small> <br>
                {{ contract.type.value }}
            </td>
            <td>{{ contract.factionSymbol.faction }}</td>
            <td>{{ contract.terms.deadline.date|date }}</td>
            <td>{{ contract.terms.payment.onAccepted|number_format }} on accepted, <br>
            {{ contract.terms.payment.onFulfilled|number_format }} on fulfilled<br>
            <b>{{ (contract.terms.payment.onAccepted+contract.terms.payment.onFulfilled)|number_format }} total</b></td>
            <td>
                {% for item in contract.terms.deliver %}
                    {{ item.tradeSymbol|machine2readable }}
                    {% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </td>
            <td>
                {% for item in contract.terms.deliver %}
                    {{ helpers.blank_link(
                        viewWaypointPath(item.destinationSymbol),
                        item.destinationSymbol,

                    ) }}
                    {% if not loop.last %}<br>{% endif %}
                {% endfor %}

                {{ contact.terms.deliver.destinationSymbol }}

            </td>
            <td>
                {% for item in contract.terms.deliver %}
                    {{ item.unitsFulfilled|number_format }} /
                    {{ item.unitsRequired|number_format }}
                    {% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </td>
            <td>{% if contract.accepted %}
                Yes
                {% else %}
                <form method="post" action="/contract/accept">
                    <input type="hidden" name="id" value="{{ contract.id }}">
                    <button value="accept">Accept</button>
                </form>
                {% endif %}
            </td>
            <td>{{ contract.fulfilled ? 'Yes' : 'No' }}</td>
            <td>{{ contract.expiration.date|date }}</td>
            <td>{{ contract.deadlineToAccept.date|date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>