<div class="card card-one-third">
    <h3 class="title">{{ ship.name }}</h3>
    <div class="info">
        <p><em>{{ ship.description }}</em></p>
        <p>{{ ship.supply.name|machine2readable }}, {{ ship.activity.value|machine2readable }}</p>
        <p><b>Price:</b> {{ ship.purchasePrice|number_format }}</p>

        <h4>Frame - {{ ship.frame.name }}</h4>
        <p>{{ ship.frame.description }}</p>

        {% include 'partials/ship-frame-table.html.twig'
            with {'ship' : ship} %}

        <h4>Reactor - {{ ship.reactor.name }}</h4>
        <p>{{ ship.reactor.description }}</p>
        {% include 'partials/ship-reactor-table.html.twig'
            with {'ship' : ship} %}

        <h4>Engine - {{ ship.engine.name }}</h4>
        <p>{{ ship.engine.description }}</p>
        {% include 'partials/ship-engine-table.html.twig'
            with {'ship' : ship} %}

        <h4>Modules</h4>
        {% for modules in ship.modules %}
            <h5>{{ modules.name }}</h5>
            <p>{{ modules.description }}</p>
            <p>Requires {{ modules.requirements.crew }} crew,
                {{ modules.requirements.power }} power, and
                {{ modules.requirements.slots }} slots. Capacity {{ modules.capacity }}
            </p>
        {% endfor %}
        <h4>Mounts</h4>
        {% for mount in ship.mounts %}
            <h5>{{ mount.name }}</h5>
            <p>{{ mount.description }}</p>
            <p>Requires {{ mount.requirements.crew }} crew and
                {{ mount.requirements.power }} power. Strength {{ mount.strength }}
            </p>
        {% endfor %}
        <h4>Crew</h4>
        <p>Required: {{ ship.crew.required }}, Capacity {{ ship.crew.capacity }}</p>
    </div>
</div>
