{% import "macros/helpers.html.twig" as helpers %}

<table>
    <tr>
        <th>Symbol & Waypoint</th>
        <th>Status & Flight Mode</th>
        <th>Fuel</th>
        <th>Cooldown Remaining</th>
        <th>Cargo</th>
    </tr>
    {% for ship in ships %}
    <tr>
        <td>{{ helpers.link(
                viewShipPath(ship.symbol),
                ship.symbol)
            }}
            <br>
            {{ helpers.drawer_link_grow(
            viewWaypointPath(ship.nav.waypointSymbol),
            ship.nav.waypointSymbol,
        ) }}</td>
        <td>{{ ship.nav.status.value }}<br>{{ ship.nav.flightMode.value }}</td>
        <td>{{ ship.fuel.current }} / {{ ship.fuel.capacity }}</td>
        <td>{{ ship.cooldown.remainingSeconds }}</td>
        <td>{{ ship.cargo.units }} / {{ ship.cargo.capacity }}
            {{ helpers.link(
                viewShipCargoPath(ship.symbol),
                '[cargo]'
            ) }}
            </td>
    </tr>
    {% endfor %}
</table>