{% macro blank_link(path, text) %}
    <a href="{{ path }}" target="_blank">{{ text ?: path }}</a>
{% endmacro %}

{% macro link(path, text) %}
    <a href="{{ path }}">{{ text ?: path }}</a>
{% endmacro %}

{% macro select_options(options) %}
    {% for opt in options %}
      <option value="{{ opt.value }}"> {{ opt.name }} </option>
    {% endfor %}
{% endmacro %}