{% macro blank_link(path, text) %}
    <a href="{{ path|e('html_attr') }}"
       target="_blank">{{ text ?: path }}</a>
{% endmacro %}

{% macro modal_link(path, text, cache) %}
    <a href="{{ path|e('html_attr') }}"
       up-target=".content"
       up-cache="{{ cache ? 'true': 'false' }}"
       up-layer="new modal">{{ text ?: path }}</a>
{% endmacro %}

{% macro modal_link_grow(path, text, cache) %}
    <a href="{{ path|e('html_attr') }}"
       up-target=".content"
       up-size="grow"
       up-cache="{{ cache ? 'true': 'false' }}"
       up-layer="new modal">{{ text ?: path }}</a>
{% endmacro %}

{% macro drawer_link(path, text, cache) %}
    <a href="{{ path|e('html_attr') }}"
       up-target=".content"
       up-cache="{{ cache ? 'true': 'false' }}"
       up-layer="new drawer">{{ text ?: path }}</a>
{% endmacro %}

{% macro drawer_link_grow(path, text, cache) %}
    <a href="{{ path|e('html_attr') }}"
       up-target=".content"
       up-size="grow"
       up-cache="{{ cache ? 'true': 'false' }}"
       up-layer="new drawer">{{ text ?: path }}</a>
{% endmacro %}

{% macro drawer_link_large(path, text, cache) %}
    <a href="{{ path|e('html_attr') }}"
       up-target=".content"
       up-size="large"
       up-cache="{{ cache ? 'true': 'false' }}"
       up-layer="new drawer">{{ text ?: path }}</a>
{% endmacro %}

{% macro link(path, text) %}
    <a href="{{ path }}">{{ text ?: path }}</a>
{% endmacro %}

{% macro select_options(options) %}
    {% for opt in options %}
      <option value="{{ opt.value|e('html_attr') }}">{{ opt.name }}</option>
    {% endfor %}
{% endmacro %}