{% macro blank_link(path, text) %}
    <a href="{{ path }}" target="_blank">{{ text ?: path }}</a>
{% endmacro %}

{% macro link(path, text) %}
    <a href="{{ path }}">{{ text ?: path }}</a>
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css"/>
    {% block head %}
        <title>{{ headTitle }} - SpaceTraders PHP Client</title>
    {% endblock %}
</head>
<body>

{% block breadcrumb %}
    {% include 'partials/breadcrumb.html.twig' %}
{% endblock %}


<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
