{% macro blank_link(path, text) %}
    <a href="{{ path }}" target="_blank">{{ text ?: path }}</a>
{% endmacro %}

{% macro link(path, text) %}
    <a href="{{ path }}">{{ text ?: path }}</a>
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css"/>
    <title>{{ headTitle }} - SpaceTraders PHP Client</title>
    {% block head %}
    {% endblock %}
</head>
<body>

<nav class="main">
    <ul class="menubar-navigation"
        role="menubar"
        aria-label="Spacetraders Client Navigation">
      <li role="none">
        <a role="menuitem" href="/contracts/">Contracts</a>
      </li>
      <li role="none">
        <a role="menuitem" href="/my/ships">Ships</a>
      </li>

    </ul>
</nav>
{% block breadcrumb %}
    {% include 'partials/breadcrumb.html.twig' %}
{% endblock %}


<div id="content">{% block content %}{% endblock %}</div>

{% block footerScripts %}
{% endblock %}
</body>
</html>
