{% import "macros/helpers.html.twig" as helpers %}
{% extends 'base.html.twig' %}

{% block content %}
<div class="game-container">
    <aside>
        <h1>Welcome, Captain</h1>
        <h2>Your Agent</h2>
        {%  include 'partials/agent-table.html.twig'
            with {'agent': agent} %}

        <h2>Ships</h2>
        {% include 'partials/ships-table.html.twig'
            with {'ships': ships} %}
    </aside>
    <main>
        <button data-system-id="X1-RY28"
            onclick="renderSystemMap(this)"
        >View System</button>

        <a href="/systems/waypoint/map?system=X1-RY28"
           up-target=".system-map"
           up-preload="insert"
           up-on-rendered="renderSystemMap()"
        >View System</a>

        <div id="system-map"></div>
    </main>
</div>


<h2>Waypoints</h2>
<p>Quickstart suggests viewing your starting location</p>
<h3>View a Waypoint</h3>
<form method="get" action="/systems/waypoint" target="_blank">
    <input type="text"
           placeholder="waypoint symbol"
           name="id"
           required="required">
    <input type="submit" value="Scan">
</form>
<h3>Search For Waypoints</h3>
<p>Trait can be a string like <em>Shipyard</em></p>
<form method="get" action="/systems/waypoint/search" target="_blank">
    <input type="text" value="" name="system" required placeholder="System">
    <input type="text"
           placeholder="traits"
           name="traits" >
    <select name="type">
        <option value="">Any type</option>
        {{ helpers.select_options(types) }}
    </select>
    <input type="submit" value="Search">
</form>

<h3>Ship Orders</h3>
<form action="/ship/orders" target="_blank" method="post">
    <select name="ship" required>
        <option disabled>--Select Ship--</option>
        {{ helpers.select_options(shipOpts) }}
    </select>
    <select name="order" required>
        <option disabled>--Select Order--</option>
        <option value="orbit">Orbit</option>
        <option value="dock">Dock</option>
        <option value="extract">Extract</option>
        <option value="refuel">Refuel</option>
    </select>
    <input type="submit" value="Issue Order">
</form>

<h3>Navigate</h3>
<form action="/ship/navigate" target="_blank" method="post">
    <select name="ship" required>
        <option>--Select Ship--</option>
        {{ helpers.select_options(shipOpts) }}
    </select>
    <input type="text" name="waypoint" placeholder="waypoint" required>
    <input type="submit" value="Navigate Ship">
</form>

<h3>Set Flight Mode</h3>
<form action="/ship/set-flight-mode" target="_blank" method="post">
    <select name="ship" required>
        <option>--Select Ship--</option>
        {{ helpers.select_options(shipOpts) }}
    </select>
    <select name="flightmode" required>
        <option value="">--Select Flight Mode--</option>
        {{ helpers.select_options(flightModes) }}
    </select>
    <input type="submit" value="Set Flight Mode">
</form>

<h3>Sell Goods</h3>
<form action="/ship/sell-goods" target="_blank" method="POST">
    <select name="ship" required>
        <option>--Select Ship--</option>
        {{ helpers.select_options(shipOpts) }}
    </select>
    <select name="good" required>
        <option value="">--Select Trade Good--</option>
        {{ helpers.select_options(cargoTypes) }}
    </select>
    <input type="number" name="units" placeholder="units" required>
    <input type="submit" value="Sell">
</form>

<h3>Jettison Goods</h3>
<form action="/ship/sell-goods" target="_blank" method="POST">
    <select name="ship" required>
        <option>--Select Ship--</option>
        {{ helpers.select_options(shipOpts) }}
    </select>
    <select name="good" required>
        <option value="">--Select Trade Good--</option>
        {{ helpers.select_options(cargoTypes) }}
    </select>
    <input type="number" name="units" placeholder="units" required>
    <input type="submit" value="Jettison">
</form>

{% endblock %}

{% block footerScripts %}
    <script src="https://unpkg.com/konva@9/konva.min.js"></script>
    <script src="/js/system-map.js"></script>
{% endblock %}